07-bpel/bookingSchema.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is
JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema xmlns:tns="http://soap.patriktrefil.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    version="1.0" targetNamespace="http://soap.patriktrefil.com/">

    <xs:element name="bookRoom" type="tns:bookRoom"></xs:element>

    <xs:element name="bookRoomResponse" type="tns:bookRoomResponse"></xs:element>

    <xs:element name="cancelBooking" type="tns:cancelBooking"></xs:element>

    <xs:element name="cancelBookingResponse" type="tns:cancelBookingResponse"></xs:element>

    <xs:complexType name="cancelBooking">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cancelBookingResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bookRoom">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int"></xs:element>
            <xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bookRoomResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>